@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Monofett&family=Rubik+Bubbles&family=Silkscreen&family=Ubuntu:wght@400;500;700&family=VT323&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    align-items: center;
    background-color: darkcyan;
    display: flex;
    font-family: 'Indie Flower', cursive;
    font-size: 62.5%;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.btn {
    border-radius: 0.4rem;
    box-shadow: 0.2rem 0.2rem gray;
    font-family: 'Silkscreen', cursive;
    font-size: 1.6rem;
    height: 5rem;
    width: 14rem;
    transition: background-color 0.5s;
}
.btn:hover {
    background-color: greenyellow;
    transform: scale( 1.1 );
}

.frame{
    border-radius: 1.6rem;
    border: solid rgb(87, 87, 87) 0.5rem;
    height: 600px;
    width: 600px;
}
.home {
    align-items: center;
    background-color: rgb(23, 33, 33);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    padding: 2rem;
}
.home-title {
    color: rgb(23, 212, 212);
    font-family:   'Indie Flower', cursive;
    font-size: 4.8rem;
}
.home-desc {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.inProcess {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 900px;
}
#board {
    background-color: rgb(195, 231, 219);
    border-radius: 1.6rem;
    border: solid rgb(87, 87, 87) 0.5rem;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
    height: 600px;
    width: 600px;
}
.inProcess-labels {
    display: flex;
    justify-content: space-evenly;
    color: #ecea67;
    font-size: 1.6rem;
    margin-bottom: 0.2rem;
    width: 600px;
}
.points {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 600px;
}
.inProcess-points {
    background-color: rgb(231, 238, 210);
    border-radius: 0.6rem;
    border: 0.1rem solid rgb(203, 241, 170);
    color: rgb(104, 99, 99);
    font-size: 1.2rem;
    font-weight: 600;
    height: 2.6rem;
    text-align: center;
    margin-bottom: 1rem;
    width: 35%;
}
.inProcess-btns {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    gap: 1rem;
    transition: background-color 0.5s;
}
.inProcess-restart:hover {
    background-color: aqua;
    /* transform: scale(1.1); */
}
.inProcess-pause:hover {
    background-color: #ecea67;
    /* transform: scale(1.1); */
}

.passLevel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 900px;
}
.passLevel-frame {
    align-items: center;
    background-color: rgb(23, 33, 33);
    border-radius: 1.6rem;
    border: solid rgb(87, 87, 87) 0.5rem;
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: space-evenly;
    width: 600px;
}
.passLevel-label {
    color: #ecea67;
    display: flex;
    font-size: 1.8rem;
    justify-content: space-evenly;
    margin-bottom: 0.2rem;
}
.passLevel-title {
    color: rgb(58, 194, 31);
    text-align: center;
    font-family: 'Silkscreen', cursive;
    font-size: 6.5rem;
    width: 80%;
}

.gameOver {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 900px;
}
.gameOver-frame {
    align-items: center;
    background-color: rgb(23, 33, 33);
    border-radius: 1.6rem;
    border: solid rgb(87, 87, 87) 0.5rem;
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: space-evenly;
    width: 600px;
}
.gameOver-label{
    color: #ecea67;
    display: flex;
    font-size: 1.8rem;
    justify-content: space-evenly;
    margin-bottom: 0.2rem;
}
.gameOver-title {
    color: rgb(194, 31, 31);
    text-align: center;
    font-family: 'Silkscreen', cursive;
    font-size: 7rem;
}


.snake {
    background-color: blueviolet;
    border: solid black 0.2rem;
    border-radius: 0.5rem
}
.randomFood {
    background-color: rgb(87, 87, 87);
    border-radius: 50%;
    border: solid black 0.2rem;
}
.hidden {
    display: none;
}