* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    align-items: center;
    background-color: darkcyan;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

#board {
    background-color: rgb(190, 225, 214);
    border-radius: 1rem;
    border: solid rgb(87, 87, 87) 0.5rem;
    height: 80vmin;
    width: 80vmin;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
}

.snake {
    background-color: blueviolet;
    border-radius: 0.5rem
}

.randomFood {
    background-color: ;
    border-radius: 50%;
}